<!doctype html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="container">
        <h2>프로필관리</h2>
        <form action="/mypage/editPro" method="post" enctype="multipart/form-data" id="image">
            <div class="form-group">
                <label for="image">
                    <img id="preview" th:src="@{/images/profile/__${accountNumber}__.jpg}"  class="img-circle" height="80px" width="80px">
                </label>
                <input type="file" id="upload" name="file" >
            </div>
            <div class="form-group">
                <h4>닉네임</h4>
                <input type="text" class="form-control"  th:value="${nickname}"  id="inputNickname" name="newNick" required>
                <div id="duplicateMessage"></div>
            </div>
            <div class="from-group">
                <h4>한줄 목표</h4>
                <input type="text" class="form-control" id="inputtext" name="inputGoal" th:value="${goal}">
            </div>
            <br>
            <input class="btn btn-default" type="submit" onclick="saveUserGoal();" value="완료">
        </form>
    </div>
    <script>
    // 파일 선택시 미리보기
    document.getElementById('upload').addEventListener('change', function (event) {
        const preview = document.getElementById('preview');
        preview.src = '';

        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function (e) {
            preview.src = e.target.result;
        }

        reader.readAsDataURL(file);
    });
</script>
</body>
</html>