<!--회원가입 페이지-->
<!--signup.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form method="post" action="/signUp">
    <div class="container">
        <h1>회원가입</h1>
        <div class="form-group">
            <label for="inputEmail4">userId</label>
            <input type="text" class="form-control" id="inputEmail4" name="uemail" placeholder="사용자 아이디" required>
           <button type="button" id="idCheckBtn" class="btns btn_st5" onclick="checkEmail();" style="width: 20%; float: right;">중복 확인</button>
        </div>

        <div class="form-group">
            <label for="inputAddress">userNick</label>
            <input type="text" class="form-control" id="inputAddress" name="unick" placeholder="닉네임입력하세요" required>
            <button type="button" id="nickCheckBtn" class="btns btn_st5" onclick="checkNickname();" style="width: 20%; float: right;">중복 확인</button>
        </div>
        <div class="form-group">
            <label for="inputName">userName</label>
            <input type="text" class="form-control" id="inputName" name="uname" placeholder="사용자 이름 입력" required>
        </div>
        <div class="form-group">
            <label for="inputPassword4">password</label>
            <input type="password" class="form-control" id="inputPassword4" name="upwd" placeholder="사용자 비밀번호" required>
        </div>
        <!--<div class="form-group">
            <label for="inputPassword4">password</label>
            <input type="password" class="form-control" id="inputPassword5" name="upwd" placeholder="사용자 비밀번호 재입력" required>
        </div>-->
        <div class="form-group">
            <label for="inputPhoneNum">phonenum</label>
            <input type="text" class="form-control" id="inputPhoneNum" name="uphone" placeholder="사용자 전번" required>
        </div>
        <button type="submit" class="btn btn-primary">가입 완료</button>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>>
<script>

        /**
         * 문자열의 마지막(끝) 문자의 종성 포함 여부 확인
         * @param value - Target String
         * @returns 종성 포함 여부
         */
        function hasCoda(value) {
            return ((value.charCodeAt(value.length - 1) - 0xAC00) % 28) > 0;
        }


        /**
         * 필드(Elemenet) 유효성 검사
         * @param target - 검사 대상 Element
         * @param fieldName - 필드명
         * @param focusTarget - 포커스 대상 Element
         * @returns 필드 입력(선택) 여부
         */
        function isValid(target, fieldName, focusTarget) {
            if (target.value.trim()) {
                return true;
            }

            const particle = (hasCoda(fieldName)) ? '을' : '를'; // 조사
            const elementType = (target.type === 'text' || target.type === 'password' || target.type === 'search' || target.type === 'textarea') ? '입력' : '선택';
            alert( `${fieldName + particle} ${elementType}해 주세요.` );

            target.value = '';
            ( !focusTarget ? target : focusTarget).focus();
            throw new Error(`"${target.id}" is required...`)
        }


        /**
         * 데이터 조회
         * @param uri - API Request URI
         * @param params - Parameters
         * @returns json - 결과 데이터
         */
        function getJson(uri, params) {

            let json = {}

            $.ajax({
                url : uri,
                type : 'get',
                dataType : 'json',
                data : params,
                async : false,
                success : function (response) {
                    json = response;
                },
                error : function (request, status, error) {
                    console.log(error)
                }
            })

            return json;
        }


        /**
         * 데이터 저장/수정/삭제
         * @param uri - API Request URI
         * @param method - API Request Method
         * @param params - Parameters
         * @returns json - 결과 데이터
         */
        function callApi(uri, method, params) {

            let json = {}

             $.ajax({
                url : uri,
                type : method,
                contentType : 'application/json; charset=utf-8',
                dataType : 'json',
                data : (params) ? JSON.stringify(params) : {},
                async : false,
                success : function (response) {
                    json = response;
                },
                error : function (request, status, error) {
                    console.log(error)
                }
            })

            return json;
        }


		// 아이디 중복 체크
		function checkEmail() {

		    // 현재 html 내부에 signupForm이 없어서 찾지 못했던 것
			//const uemail = document.querySelector('#signupForm input[name="uemail"]');

			const uemail = document.querySelector('input[name="uemail"]');
			isValid(uemail, '아이디');
			const count = getJson(`/user-email-count`, { uemail : uemail.value });

			console.log(count);

			if (count > 0) {
				alert('이미 가입된 아이디가 있습니다.');
				uemail.focus();
				return false;
			}

			if (confirm('사용 가능한 아이디입니다.\n입력하신 아이디로 결정하시겠어요?')) {
				uemail.readOnly = true;
				document.getElementById('idCheckBtn').disabled = true;
			}
		}

		// 닉네임 중복 체크
		function checkNickname() {

    		const unick = document.querySelector('input[name="unick"]');
			isValid(unick, '닉네임');
			const count = getJson(`/user-nickname-count`, { unick : unick.value });

			if (count > 0) {
				alert('중복되는 닉네임이 있습니다.');
				unick.focus();
				return false;
			}

			if (confirm('사용 가능한 닉네임입니다.\n입력하신 닉네임으로 결정하시겠어요?')) {
				unick.readOnly = true;
				document.getElementById('nickCheckBtn').disabled = true;
			}
		}

		// 회원 정보 유효성 검사
		function validationMemberInfo(form) {

			const fields = form.querySelectorAll('input');
			const fieldNames = ['아이디', '닉네임', '이름', '비밀번호', '비밀번호 재입력', '연락처'];

			for (let i = 0, len = fields.length; i < len; i++) {
				isValid(fields[i], fieldNames[i]);
			}

			if (form.uemail.readOnly === false) {
				alert('아이디 중복 체크를 완료해 주세요.');
				throw new Error();
			}

			if (form.unick.readOnly === false) {
				alert('닉네임 중복 체크를 완료해 주세요.');
				throw new Error();
			}

			if (form.upwd.value !== form.upwd2.value) {
				alert('비밀번호가 일치하지 않습니다.');
				form.upwd2.focus();
				throw new Error();
			}
		}


		// 회원 정보 저장 (회원가입)
		function saveMember() {

			// 1. 필드 유효성 검사
			const form = document.getElementById('signupForm');
			validationMemberInfo(form);

			// 2. 파라미터 세팅
			const params = {}
			new FormData(form).forEach((value, key) => params[key] = value.trim());

			// 3. Save API 호출
			callApi('/signUp', 'post', params);
			alert('가입을 축하드립니다!\n로그인 후 서비스를 이용해 주세요.');
		}

	</script>
</body>
</html>