<!--마이페이지-->
<!-- mypage.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="profile">
    <h3>프로필</h3>
    <img src="profile.png" width="50px" height="50px" alt="프로필사진" >
    <div class="info">
        <!--<h3 th:text="${user.name} + '님'"></h3>-->
        <h5>이지영님</h5>
        <!--상태메세지입력
           <div class="status-form">
               <form id="statusForm" action="/update-status" method="post">
                   <textarea name="statusMessage" placeholder="상태 메시지를 입력하세요"></textarea>
                   <button type="submit">저장</button>
               </form>-->
        <h5>상태 메시지입니다.</h5>
    </div>
    <div class="etc">
        <h5><a href="myposts.html">내가 작성한 게시물</a> </h5>
        <h5><a href="my_rposts.html">내가 작성한 모집글</a> </h5>
        <h5><a href="p_rposts.html">내가 참여한 모집글</a> </h5>
        <h5><a href="edit_profiel.html">프로필 관리</a> </h5>
    </div>

    <div>
        <a href="/logout">
            로그아웃
        </a>
    </div>
</div>

</body>
</html>